@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@layer theme {
  :root {
    --font-sans: var(--roboto);

    --color-background: #ffffff;
    --color-title: #000000;
    --color-text: #333333;
    --color-border: #dddddd;
    --color-white: #ffffff;
    --color-black: #ffffff;
    --color-current: currentColor;
    --color-transparent: transparent;
  }

  .mui-2sokba {
    background-color: var(--color-gray-50) !important;
  }
  .mui-gr4hu4-MuiPaper-root-MuiAppBar-root {
    background-color: var(--color-gray-50) !important;
  }
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 50px !important;
  }
}
